.vscode/*
!.vscode/settings.json
!.vscode/User/settings.json
!.vscode/User/keybindings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
!*.code-workspace

# Local History for Visual Studio Code
.history/
